.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  text-align: center;
  color: rgb(109, 44, 19);
  background-color: #E2D9C7;

}

body {
  background-color: #E2D9C7;
}

.home-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

header {
  background-color: #E2D9C7;
}