.username {
  display:block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Georgia', serif;

}

.login-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  border-radius: 15%;
  color: white;
  margin-top: 1%;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  background-color: rgb(2, 166, 255);
  font-family: 'Arial';
}

.title-block{
  display: block;
  margin-left:auto;
  margin-right: auto;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 300%;
  text-align: center;
  padding: 40px 0;
  color: white;
  background-color: rgb(2, 166, 255);
  font-family: Impact;
}

.title-block .welcome {
  text-align: center;
  font-size: 50%;
}


body {
  background-color: white;
}

.home-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
 
}

.home-logo .home-logo-img {
  width: 100%;
}

header {
  background-color: #E2D9C7;
}

.login-wrapper {
  display: block;
  flex-direction:column;
  align-items: center;
}