.search-container {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 700px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    flex: 1;
    width: 100px;
  }
  
  .search-button, .show-all-button {
    padding: 10px;
    font-size: 16px;
    background-color:rgb(2, 166, 255);
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
  }

  .sort-button {
    padding: 10px;
    font-size: 12px;
    background-color:rgb(2, 166, 255);
    color: white;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    margin-left: 2px;
    margin-right: 2px;
  }

  .sort-buttons {
    padding-bottom: 10px;
    font-size: 10px;
  }

  
  /* Add hover effect */
  .search-button:hover, .show-all-button:hover {
    background-color:  #295686;
  }

  .allgroups-title {
    font-weight: bolder;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  

  