.allgroups {
  text-align:center;
}

.homepage {
  text-align: center;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}
.container{
  text-align: center;
  height: 100%;
}
.homeBody{
  text-align: left;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
This code below is the styling for our nav block
We are setting a background color, and padding so that they links are nec to each other
*/
.nav {
  background-color: rgb(2, 166, 255);
  color:white;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 1rem;
  align-items: stretch;
}

.nav a {
  color: inherit;
  text-decoration: none;
  align-items: stretch;
  height: 100%;
  display: flex;
  padding: .25rem;
}

.nav ul{
  padding: 0;
  margin: 0;
  list-style: none; 
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* This is out Home Title WE want this to be at the right hence size is 2 bigger than the defualt*/

.site-title{
  font-size: 3rem;
  font-family: Impact, bolder;
  border-radius: 5%;
}
.site-title:hover{
  background-color: rgb(104, 187, 232);
}

/* code to say what the nav li looks like on default */
.nav li.active{
  font-size: 1.5rem;
  font-family:Impact;
  border-radius: 10%;
  color: white;}
.nav li:hover{
  background-color: rgb(162, 215, 243);
}

.groups-in {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.groups-made {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 10px;
  padding-right: 30px;
}

.groups-made .createNewGroup{
  cursor: pointer;
  height:fit-content;
  background-color: rgb(104, 187, 232);
  font-size: 2rem;
  gap: 2rem;
  padding: 0 1rem;
  align-items: stretch;
  border-radius: 7%;
  border:0cap;
  margin-left: 2%;
  display: flex;

}

.widget{
  margin-bottom: 24px;
}